@import '../../shared/styles';

:host {
  display: grid;
  grid-template-areas: 'header' 'history';
  grid-template-rows: 2.5rem min-content;
  grid-template-columns: minmax(auto, 40rem);
  gap: 0.5rem;
  justify-content: center;

  > header {
    grid-area: header;
  }
}
.clipboard-button {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  border-radius: 1.25rem;
}
.clip-list {
  margin: 0 0 1rem;
  padding: 0.25rem 0;
  grid-area: history;
  display: grid;
  grid-auto-rows: minmax(48px, max-content);
  grid-auto-flow: row;
  border: 1px solid var(--border-colour);
  border-radius: 0.5rem;
  background: var(--content-colour);

  > :first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  > :last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  > :not(:last-child) {
    border-bottom: 1px solid var(--divider-colour);
  }
}
.emptyListState {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}
