<header class="header">
  <span class="header-title">Saved Snippets</span>
  <div class="header-controls" *ngIf="readAvailable | async">
    <div
      class="button clipboard-button"
      title="Read clipboard"
      (click)="toggleClipboard()"
    >
      <ng-container
        *ngIf="clipboardReadable | async; then toggleOn; else toggleOff"
      ></ng-container>
      <ng-template #toggleOn>
        <i class="material-icons colour-primary">toggle_on</i>
      </ng-template>
      <ng-template #toggleOff>
        <i class="material-icons">toggle_off</i>
      </ng-template>
      <i class="material-icons">assignment</i>
    </div>
  </div>
</header>
<!-- TODO -->
<!--   touchstart -> touch event detected -->
<!--   disable hover for clips -->
<!--   click -> reset hover detection -->
<!-- NOTE: Prevent mousedown to not take focus -->
<div
  class="clip-list"
  *ngIf="(clips | async)?.length > 0; else emptyListState"
  (mousedown)="!$event.defaultPrevented && $event.preventDefault()"
>
  <clip-clip *ngFor="let clip of clips | async" [clip]="clip"></clip-clip>
</div>
<ng-template #emptyListState>
  <div class="emptyListState">Your saved snippets will show up here.</div>
</ng-template>
