/*
 * TODO - Separate shared styles and mixins
 *        Shared styles should be added using styleUrls
 *        Mixins should be added using SCSS imports
 */

/* Block elements */
.header {
  display: grid;
  grid: 'heading controls' minmax(2.5rem, max-content) / 1fr max-content;
  grid-auto-flow: column;
  align-items: center;
  font-size: 0.875rem;
  color: var(--foreground-alternate-colour);

  > .header-title {
    grid-area: heading;
    padding: 0 1rem;
  }
  > .header-controls {
    grid-area: controls;
    margin-right: 0.5rem;
  }
}

/* Inline elements */
@mixin button {
  all: unset;
  color: var(--button-colour);

  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      color: var(--button-hover-colour);
      background: var(--background-hover-colour);
    }
  }
}
.button {
  @include button;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  user-select: none;
  border-radius: 0.5rem;
}
.icon-button {
  @include button;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  user-select: none;
  border-radius: 50%;
}

/* Colours */
.colour-primary {
  color: var(--accent-colour);
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-colour);
    }
  }
}
