@import '../shared/styles';

:host {
  display: grid;
  // NOTE: Landscape ONLY.
  // TBD: Minimum width before locking into portrait mode.
  grid: auto / repeat(auto-fill, minmax(64px, 1fr));
  justify-content: center;
  height: 100%;
  overflow: hidden;
  gap: 1rem;

  @media (min-width: 720px) {
    gap: 1.5rem;
  }
}
ft-backdrop {
  // TODO - Prefix the CSS variables in the backdrop library component.
  --foreground-text-colour: rgba(0, 0, 0, 0.87);
  --primary-colour: #f5f5f5;
  --divider-colour: rgba(0, 0, 0, 0.06);
  --foreground-text-colour: rgba(0, 0, 0, 0.87);
  --foreground-alternate-colour: #777;
  --gap-size: 1rem;
  color: var(--foreground-text-colour);
  grid-column: 1 / -1;

  @media (min-width: 720px) {
    grid-column: 2 / -2;
  }
  @media (min-width: 1440px) {
    grid-column: 3 / -3;
  }
}
main {
  display: grid;
  grid:
    'clipboard' min-content
    'history  ' 1fr / 1fr;
  gap: var(--gap-size);
  height: 100%;
}
