@import '../shared/styles';

:host {
  display: grid;
  grid-template-areas: 'clipboard' 'history';
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: var(--gap-size);
}
clip-editor {
  margin-top: 0.75rem;
}
.icon-button {
  color: inherit;
}
