@import '../../shared/styles';

:host {
  position: relative;
  display: grid;
  grid-template-areas: 'content controls';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr max-content;
  align-items: center;
  user-select: none;

  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      background: var(--background-hover-colour);

      .view-controls {
        visibility: hidden;
      }
      .hover-controls {
        display: grid;
      }
    }
  }
}
.content {
  grid-area: content;
  padding: 0.5rem calc(1rem - 1px);
  overflow: hidden;
}
.control-block {
  padding: 0 0.5rem;
  padding-right: calc(0.5rem - 1px);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--gap-size);
}

.view-controls {
  visibility: visible;
}
.hover-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  background: var(--background-gradient-colour);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--background-gradient-colour) 12.5%
  );
}
