<span class="content" (click)="use(clip?.text)">{{ clip?.text }}</span>
<div class="controls">
  <div class="control-block view-controls" *ngIf="clip?.favourite">
    <div class="icon-button colour-primary">
      <i class="material-icons">favorite</i>
    </div>
  </div>
  <div class="control-block hover-controls">
    <button class="icon-button" (click)="delete()">
      <i class="material-icons">delete</i>
    </button>
    <button
      class="icon-button"
      [ngClass]="{'colour-primary': clip?.favourite}"
      (click)="favourite()"
    >
      <i class="material-icons">{{
        clip?.favourite ? 'favorite' : 'favorite_border'
      }}</i>
    </button>
  </div>
</div>
