@import '../styles';

:host {
  display: grid;
  grid-template-areas: 'header' 'editor';
  grid-template-rows: 2.5rem 1fr;
  grid-template-columns: minmax(auto, 40rem);
  gap: var(--gap-size, 0.5rem);
  justify-content: center;
  min-height: 3.5rem;
}
textarea {
  grid-area: editor;
  margin: 0 1rem;
  padding: calc(1rem - 1px);
  border: 1px solid var(--border-colour);
  border-radius: 0.5rem;
  outline: none;
  resize: none;
  font: inherit;
  overflow: auto;

  @media (min-width: 720px) {
    margin: 0;
  }
}
.controls {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap-size, 0.5rem);
}
