<header class="header">
  <label class="header-title" for="scratchpad">Scratchpad</label>
  <div class="header-controls controls" *ngIf="editingChange | async">
    <button class="icon-button" title="Clear" (click)="reset()">
      <i class="material-icons">clear</i>
    </button>
    <button class="icon-button" title="Save" (click)="reset(editor.value)">
      <i class="material-icons colour-primary">done</i>
    </button>
  </div>
</header>
<textarea
  id="scratchpad"
  rows="1"
  placeholder="Create a snippet..."
  (click)="editingChange.emit(true)"
  (input)="markForResize.next()"
  [(ngModel)]="value"
  #editor="ngModel"
></textarea>
